<script type="text/javascript-lazy" src="private/js/shapeUplCtrl.js"></script>
<script type="text/javascript-lazy" src="private/js/galleryUplCtrl.js"></script>
<script type="text/javascript-lazy" src="private/js/editSiteBoxCtrl.js"></script>
<script type="text/javascript-lazy" src="private/js/editSitePageCtrl.js"></script>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">{{appname}}</a>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ 'active': page=='map' }">
          <a href="#view/map/">Harta</a>
        </li>
        <li ng-class="{ 'active': page=='routing' }">
          <a href="#view/routing/">Trasee</a>
        </li>
        <li ng-class="{ 'active': page=='search' }">
          <a href="#view/search/">Cautare</a>
        </li>
        <li ng-class="{ 'active': page=='newsite' }">
          <a href="#mod/editsite/">Creare</a>
        </li>
        <li ng-class="{ 'active': page=='import' }">
          <a href="#mod/import/">Importa CSV</a>
        </li>
        </ul>
      <ul class="nav navbar-nav navbar-right">

        <li>
          <button class="btn btn-sm btn-primary navbar-btn" ng-show="!haveAuth" ng-click="showLogin()">Login</button>
          <p ng-show="haveAuth" class="navbar-text">Logged in as <b>{{username}}</b></p>
          <button class="btn btn-sm btn-default navbar-btn" ng-show="haveAuth" ng-click="logout()">Logout</button>
        </li>

      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
